@media (max-width: 480px) {
  .product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 140px;
  }
  .img-container {
    width: 340px;
    height: 180px;
  }
  .product-img {
    width: 300px;
    margin-top: -150px;
    margin-left: 0;
  }
  .container-info {
    margin-left: 0px;
    width: 300px;
    margin-top: -30px;
  }
  .container-info-top {
    flex-direction: column;
    padding-left: 20px;
    gap: 10px;
  }
  .details-container {
    flex-direction: row;
    width: 100%;
  }
  .detail-title {
    font-size: 1.3rem;
    flex: 1;
  }
  .detail-text {
    font-size: 1.3rem;
    padding: 0 10px;
    flex: 2;
    text-align: center;
  }
  .button-counter {
    width: 30px;
    height: 30px;
  }
  .container-info-bot {
    padding-left: 20px;
  }
  .card-button {
    margin-left: -10px;
  }
  .buy-button:hover {
    background: rgb(29, 111, 117);
  }
  .buy-button:active {
    background: rgb(29, 111, 117);
  }
  .card-type {
    padding-top: 20px;
  }
  .card-data {
    display: block;
    margin-top: 10px;
  }
  .CVV {
    margin-top: 16px;
    padding-left: 0px;
  }
}
