@media (max-width: 480px) {
  .product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
  }
  .img-container {
    width: 340px;
    height: 180px;
  }
  .product-img {
    width: 300px;
    margin-top: -150px;
    margin-left: 0;
  }
  .container-info {
    margin-left: 0px;
    width: 300px;
    margin-top: -30px;
  }
  .container-info-top {
    flex-direction: column;
    padding-left: 20px;
    gap: 10px;
    position: relative;
  }
  .details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
  }
  .detail-title {
    font-size: 0rem;
    flex: 1;
  }
  .detail-text {
    font-size: 1.3rem;
    padding: 0 10px;
    flex: 2;
    text-align: center;
  }
  .button-counter {
    width: 40px;
    height: 40px;
  }

  .counter-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .name-query-container {
    position: absolute;
    left: 0;
    top: 20px;
  }
  .name-query {
    font-size: 1.5rem;
  }
  .price-query-container {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .price-query {
    font-size: 2.2rem;
  }
  .counter-query-container {
    position: absolute;
    right: 0;
    bottom: 0;
    top: -50px;
  }
  .counter-query {
    font-size: 2rem;
  }
  .container-info-bot {
    padding-left: 20px;
  }
  .card-button {
    margin-left: -10px;
  }
  .buy-button:hover {
    background: rgb(29, 111, 117);
  }
  .buy-button:active {
    background: rgb(29, 111, 117);
  }
  .card-type {
    padding-top: 20px;
  }
  .card-data {
    display: block;
    margin-top: 10px;
  }
  .CVV {
    margin-top: 16px;
    padding-left: 0px;
  }
}
